@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-hover{
  @apply transform transition hover:scale-105 hover:shadow-xl;
}

.type-fire{
  @apply bg-orange-400;
}
.type-grass{
  @apply bg-green-300;
}

.circular-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  width: 200px; /* Ajusta el tamaño del círculo según tus necesidades */
  height: 200px;
}

.circular-image {
  border-radius: 50%;
  width: 100%; /* Ajusta el tamaño de la imagen dentro del círculo */
  height: 100%;
  object-fit: cover; /* Ajusta cómo se ajusta la imagen al círculo */
}






